`ifndef WB_AGENT_SV
`define WB_AGENT_SV

class wb_agent extends uvm_agent;
    `uvm_component_utils(wb_agent)

    uvm_sequencer #(wb_transaction) sqr;
    wb_driver                       drv;
    wb_monitor                      mon;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        mon = wb_monitor::type_id::create("mon", this);
        if (get_is_active() == UVM_ACTIVE) begin
            sqr = uvm_sequencer#(wb_transaction)::type_id::create("sqr", this);
            drv = wb_driver::type_id::create("drv", this);
        end
    endfunction

    function void connect_phase(uvm_phase phase);
        super.connect_phase(phase);
        if (get_is_active() == UVM_ACTIVE)
            drv.seq_item_port.connect(sqr.seq_item_export);
    endfunction

endclass : wb_agent

`endif
